.configs p {
    font-size: 14px;
    color: #3d3d3d;
    @include font(400);
    padding-left: 10px;
    margin-bottom: 20px;
}

.config-accordion .config-item {
    cursor: pointer;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    height: 100%;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.05);
    line-height: 58px;
    margin-bottom: 8px;
    transition: all ease 0.3s; //    padding: 0 15px;
    //    width: 323px; // box-shadow: 0 1px 7px #d4d5d6;
    width: 370px;
    padding: 0 0px;


    .config-item-title{
        padding: 0 30px;
    }

    &:hover {
        background-color: #f9f9f9;
    }

    &.active {
        // height: 100%;
        &:hover {
            background-color: rgba(255, 255, 255, 0.75);
        }

        i.ng-down-open:before {
            transform: rotate(180deg);
        }
    }

    .config-item-content {
        padding: 0 30px;
        line-height: initial;
//        padding-bottom: 30px;
        position: relative;
        display: none;
        
        &:after{
            content: '';
            position: relative;
            height: 30px;
            width: 100%;
            display: block;
        }

        p {
            padding-left: 0px;
        }

        input {
            height: 50px;
        }

        .switch {
            margin-right: 15px;
        }

        .bd-black {
            border: 1px solid #999a9a;
            background: transparent;
            font-size: 13px;
            @include font(400);
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            text-indent: 0;
            padding: 20px;
            display: block;
            color: #000;
        }

        .bd-black + small {
            font-size: 12px;
            width: 100%;
            text-align: right;
            display: block;
            color: #3d3d3d;
            margin-bottom: 15px;
        }

        #upload-fotos-preview {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 5px;
        }

        .w56p {
            width: 56%;
        }

        .w100 {
            width: 100%;
        }

        button {
            box-shadow: 0 0 0;
        }

        .mT20 {
            margin-top: 20px;
        }
        .mT10 {
            margin-top: 10px;
        }

        &.tema {
            button {
                padding: 0 25px;
            }
        } // &.cabecalho, &.saudacao, &.local-da-festa, &.fotos{
        //   .gray{
        //     margin-bottom: 20px;
        //   }
        //   .gray:last-of-type{
        //     margin-top: 20px;
        //     margin-bottom: 15px;
        //   }
        // }
        textarea {
            height: 180px !important;
        }

        .password-exist {
            display: none;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: #f4f4f4;
            margin-bottom: 20px;
        }

        .blue-small {
            color: #4778f4;
            font-size: 14px;
            @include font2(400);
            letter-spacing: -0.5px;
            margin-bottom: 5px;
            white-space: inherit;
        }

        .gray {
            font-size: 14px;
            @include font(400);
            color: #a3a4a5;
            white-space: inherit;
            margin-bottom: 20px;

            strong {
                @include font(600);
            }
        }

        .title {
            color: #000;
            font-size: 22px;
            @include font(600);
            letter-spacing: -0.25px;
            margin-bottom: 20px;
            white-space: inherit;
        }


        .custom-select.bg-white + .select2-container,
        select {
            height: 50px;
            border-radius: 6px;
            border: 1px solid #999a9a;
            margin-top: 5px;
        }

        .custom-select.bg-white + .select2-container .select2-selection b[role="presentation"]:before {
            color: #999a9a;
            content: '\e884';
            font-size: 12px;
            padding-left: 3px;
            padding-top: 2px;
        }
    }
}

.config-accordion.without-toggle {
    .config-item {
        p {
            padding-left: 0;
        }
    }
}


.config-accordion .config-item p {
    font-size: 14px;
    font-weight: 400;
    color: #3d3d3d;
    padding-left: 15px;
    margin: 0;
    text-align: left; // max-width: 220px;
    width: 100%;
    white-space: nowrap;

    &.fz20 {
        font-size: 18px;
    }

    &.filtro-title {
        font-size: 16px;
    }
}

.config-accordion .config-item i:before {
    color: #797979;
    transition: all ease 0.3s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 21px;
    margin-bottom: 0;
    outline: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round {
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: #d5d5d6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ddf6de;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
    background-color: #5cd05d;
}

.filtro form label {
    font-size: 11px;
    color: #a3a3a3;
    margin: 20px 0px 10px 15px;
}

.filtro .config-accordion .config-item .config-item-content .custom-select.bg-white + .select2-container {
    border: 0px solid transparent;
}

.filtro form .uppercase.custom-select + .select2-container .select2-selection .select2-selection__rendered, .filtro form input {
    font-size: 16px;
}
